<a href="https://colab.research.google.com/github/Samia35-2973/Learning_Python/blob/main/python_basics_201_35_2973.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
#When you use end=' ' in a print() statement, it tells Python to use a space character as the ending character instead of a newline character. 
#print("Tisha says: " + end=' ') cant be used because of concatenation
print("Tisha says:" , end=' ')
print('"Hello"')

Tisha says: "Hello"

In [ ]:
for i in range(20):
   print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
print('*' * 20)

********************

In [ ]:
x = int(input("Enter Value: "))
print("The Value is: " + str(x))
print(x)

Enter Value: 222222222222222222222222222222222222222222222222222222
The Value is: 222222222222222222222222222222222222222222222222222222
222222222222222222222222222222222222222222222222222222

In [ ]:
x = float(input("Enter a floating number: "))
print("The value is: " + str(x))
print(f"The Value is: {x}")

Enter a floating number: 34.9
The value is: 34.9
The Value is: 34.9

In [ ]:
x = "she's annoyed!"
y = 'she says, "I am fine"'
print(x+y)

she's annoyed!she says, "I am fine"

In [ ]:
x, y, z = 6, 7, 8
print(f"{x}, {y}, {z}")

a = b = c = 90
print(str(a)+", " + str(b) + ", " + str(c))

6, 7, 8
90, 90, 90

In [ ]:
#Unpacking

ages = [45, 33, 21]
x, y, z = ages
print(f"{x}, {y}, {z}")

45, 33, 21

In [80]:
#multiline string
x = """hello
    konnichiwa
nihao
hola"""
print(x)

#string are arrays. To access from first index starts from 0. To access reverse index starts from -1
print(x[0])
print(x[1])
print(x[-1])
print(x[-2])

#to get length of string
n = len(x)
print("Length of the string: " + str(n))

#check if substring is present or not present
print("hol" in x)
print("bol" not in x)

#slicing b[x:y] here x:y means a substring from x to y index. but here the substring is taken from x to y-1 always.
s = x[3:21]
print("Sliced String 1: " + s)

#slicing b[:y] here :y means a substring from start to y index
s = x[:21]
print("Sliced String 2: " + s)

#slicing b[x:] here x: means a substring from x to end index
s = x[3:]
print("Sliced String 3: " + s)

s = x[1:-1] #excluding first and last index
print("Sliced String 4: " + s)

s = "Learn Python Programming"
#find method
n = s.find("Python")
print("Python word exists at index: " + str(n+1))

s = s[6:-11]
print("Mid String: " + s)

#string converted to upper case
print(s.upper())

#string converted to lower case
print(s.lower())

#Concatenation
s = " " + s + " "
print("Actual Text: " + s)

#Removing whitespace: spaces before or after actual text should be removed
s = s.strip()
print("After Removing Whitespace: " + s)

#replacing
s = "python"
s = s.replace("o", "p")
print("Replaced String: " + s)
s = s.replace("p", "x")#every occurance of P willl be replaced
print("Replaced String: " + s)
s = "pythonpython pythons"
s = s.replace("python", "x")
print("Replaced String: " + s)

#spliting splits the whole string according to the instance provided and returns a list
s = s.split(" ")
print("Splitted List: " + str(s)) #S's type is list so covert to string was required

#Format: Method takes the passed arguments, formats them, and places them in the string where the placeholders {} are
n = 3
s = "There are {} ages"
s = s.format(n)
print(s)
#Can take unlimitate arguments in method seperated by commas
x, y, z = 20, 30, 40
s = s + " There are : {}, {}, {}" #if we pass 3 then 3 placeholders
s = s.format(x, y, z)
print(s)
#use index numbers {0} to be sure the arguments are placed in the correct placeholders
s = "There are {3} ages. There are {0}, {2}, {1}"
s = s.format(x, z, y, n)
print(s)
#Another Way of formatting
teach_name = "Nuruzzaman Faruqui"
teach_init = "NF"
#Now print "teach_name (teach_init) teaches AI"
message = f"{teach_name} ({teach_init}) teaches AI"
print(message)

#Escape Characters: Insert characters which are illegal use backslash \ followed by the character you want to insert. they are same as c++
s = "Tisha says, \"Ohayo\""
print(s)

#https://www.w3schools.com/python/python_strings_methods.asp

hello
    konnichiwa
nihao
hola
h
e
a
l
Length of the string: 31
True
True
Sliced String 1: lo
    konnichiwa

Sliced String 2: hello
    konnichiwa

Sliced String 3: lo
    konnichiwa
nihao
hola
Sliced String 4: ello
    konnichiwa
nihao
hol
Python word exists at index: 7
Mid String: Python
PYTHON
python
Actual Text:  Python
After Removing Whitespace: Python
Replaced String: pythpn
Replaced String: xythxn
Replaced String: xx xs
Splitted List: ['xx', 'xs']
There are 3 ages
There are 3 ages There are : 20, 30, 40
There are 3 ages. There are 20, 30, 40
Nuruzzaman Faruqui (NF) teaches AI
Tisha says, "Ohayo"

In [ ]:
#boolean
ok = True
ok = False
#bool() returns truth value of anything. If it contains any contents it returns true else false

In [ ]:
#Operators
#https://www.w3schools.com/python/python_operators.asp

In [63]:
#List
#Multiple items seperated by commas in square braces
#Defined order, changeable, and allow duplicate values; Starting index 0, reverse index -1
thislist = ["banana", "apple", "cherry"]
print(thislist)

#To get length of list
print(len(thislist))

#can contain different type values in same list
s = ["banana", "apple", "cherry", True, 44, 5.69]
print(s)

#Accessing is same as string

#Changine
#we can change by index or range simply assigining
#If we change more than the specified range, the remaining values will be added on the range
s[1:2] = ["goru", "chagol"]
print(s)
#If we change less than the specified range, the range will be just the changed value and rest of the values will be removed
s[1:3] = ["vera"]
print(s)

#Inserting in specific index
s.insert(2, "kaua")
print(s)

#Adding item at the end of the list
s.append(5)
print(s)

#Adding all values from a list to another list
temp = ["yyue", "gu", 98]
s.extend(temp)# we can extend anything other than list.
print(s)

#Removing
#remove item
s.remove("kaua")
print(s)
#remove indexed value
s.pop(1)
print(s)
s.pop()#remove last element
print(s)

#emptying list
#s.clear()
#print(s)

#Deleting list
#del s
#print(s) this won't work since it is entirely deleted

#loop lists
#looping through items
for i in s:
  print(i, end=' ')
print()
#looping through index
for i in range(len(s)):
  print(s[i], end=' ')
print()
#while loop
i = 0
n = len(s)
while i < n:
  print(s[i], end=' ')
  i+=1
print()

#list comprehension
#newlist = [expression for item in iterable if condition == True]
s = ["goru", "chagol", "vera", "kaua"]
newl = [x for x in s if "a" in x]
print(newl)

newl = [x.upper() for x in s if "a" in x]
print(newl)

#copying x1 = x2 will cause any change in x2 will change x1 as well
ll = newl.copy()
print(ll)

#join or concatenate lists
# + as string, extend or append one by one

#https://www.w3schools.com/python/python_lists_methods.asp

['banana', 'apple', 'cherry']
3
['banana', 'apple', 'cherry', True, 44, 5.69]
['banana', 'goru', 'chagol', 'cherry', True, 44, 5.69]
['banana', 'vera', 'cherry', True, 44, 5.69]
['banana', 'vera', 'kaua', 'cherry', True, 44, 5.69]
['banana', 'vera', 'kaua', 'cherry', True, 44, 5.69, 5]
['banana', 'vera', 'kaua', 'cherry', True, 44, 5.69, 5, 'yyue', 'gu', 98]
['banana', 'vera', 'cherry', True, 44, 5.69, 5, 'yyue', 'gu', 98]
['banana', 'cherry', True, 44, 5.69, 5, 'yyue', 'gu', 98]
['banana', 'cherry', True, 44, 5.69, 5, 'yyue', 'gu']
banana cherry True 44 5.69 5 yyue gu
banana cherry True 44 5.69 5 yyue gu
banana cherry True 44 5.69 5 yyue gu
['chagol', 'vera', 'kaua']
['CHAGOL', 'VERA', 'KAUA']
['CHAGOL', 'VERA', 'KAUA']

In [62]:
#Sorting
#Ascending
s = ["orange", "mango", "kiwi", "pineapple", "banana"]
s.sort()
print(s)
#Descending
s.sort(reverse = True)
print(s)
#custom sort -> key = anyfunction, here function will return the value
#Sort the list based on how close the number is to 50
def cmp(n):
  return abs(n-50)

s = [100, 50, 65, 82, 23]
s.sort(key = cmp)
print(s)

#sort is sensitive, resulting in all capital letters being sorted before lower case letters:
s = ["banana", "Orange", "Kiwi", "cherry"]
s.sort()
print(s)

#to solve the problem
s.sort(key = str.lower)
print(s)

#reverse
s.reverse()
print(s)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[50, 65, 23, 82, 100]
['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'cherry', 'banana']

In [70]:
#Tuple
#multiple items in single variable; round braces; duplicate values; Initial order; Same indexing process; Unchangeable(no add, remove, modify)
s = ("ami")#not tuple
print(s)

s = ("ami",)#Tuple valid
print(s)

s = (40, 56, 90)
print(s)

#can be of different datatype
#same accessing as list

#tuple can be changed to List for add, modification, removing and changed back to tuple
s = list(s)
s.append(50)
s = tuple(s)
print(s)

#can be concatenated normally

#unpacking
#The number of variables must match the number of values in the tuple,
# if not, you must use an asterisk to collect the remaining values as a list.

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

#Muliply tuple 3 times
mytuple = fruits * 3
print(mytuple)

ami
('ami',)
(40, 56, 90)
(40, 56, 90, 50)
apple
banana
['cherry', 'strawberry', 'raspberry']
('apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'apple', 'banana', 'cherry', 'strawberry', 'raspberry')

In [75]:
#set
#multi items single var; curly braces; Unchangeable but add remove allowed; Unordered; Unique Value; Differenrt types 
#True and 1 is treated same
st = {1, True, "jjnf", 56}
print(st)

#Access
#You cannot access items in a set by referring to an index or a key.
#iterate through items only

#add
st.add(2)
print(st)

ust = {4,5}
st.update(ust)#can be taken lists too
print(st)

#remove
st.remove(5)
print(st)

#discard if the removed item may not exist
st.discard(6)
print(st)

#https://www.w3schools.com/python/python_sets_join.asp

#https://www.w3schools.com/python/python_sets_methods.asp

{56, 1, 'jjnf'}
{56, 1, 2, 'jjnf'}
{1, 2, 'jjnf', 4, 5, 56}
{1, 2, 'jjnf', 4, 56}
{1, 2, 'jjnf', 4, 56}

In [78]:
#loops
#0-(n-1)
n = 5
for i in range(n):
  print(i, end=' ')
print()

#2~(n-1)
for i in range(2, n):
  print(i, end=' ')
print()

#2~(n-1) incrementing 2
for i in range(2, n, 2):
  print(i, end=' ')
else: print()#not be executed if interrupted by break

0 1 2 3 4
2 3 4
2 4

In [ ]:
#pass statement can be used if condition or loops are empty

In [ ]:
#Function Vs Method
#Method is a functionality of an object which can only be accessed through object 
#Function can be accessed anywhere not in object

In [83]:
#Math

import math
print(math.ceil(5.3))
print(math.floor(5.5))
print(round(5.5))
print(math.factorial(25))

6
5
6
15511210043330985984000000